.MuiAvatar-img {
    background-color: #ededed;
}

.MuiAvatar-circular {
    border: 0.1rem solid lightgray;
}

.grid-container {
    border-color: black;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(5, 1fr);
}

.grid-item {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
}

.inactivated {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.activated {
    -webkit-filter: grayscale(0);
    filter: none;
}
