* {
    font-family: '궁서', '궁서체';
}

.MuiAvatar-img {
    background-color: #3b3939;
}

.perkStyle > .MuiAvatar-img {
    transform: scale(0.8);
    margin-left: 2%;
}

.MuiAvatar-circular {
    border: 0.1rem solid lightgray;
    background-color: #3b3939;
}

.grid-container {
    border-color: black;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(5, 1fr);
}

.grid-item {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
}

.inactivated {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.activated {
    -webkit-filter: grayscale(0);
    filter: none;
    border: 0.15rem solid rgb(209, 188, 70);
}

#detailTable td {
    border-bottom: 1px solid grey;
}

.purpleWin {
    color: #a145dc;
    background-color: #ece4ef;
}

.purpleLose {
}

.greenWin {
    color: #20b581;
    background-color: #e4ebe4;
}

.greenLose {
}
