.grid-container {
  display: grid;
  width: 200px;
  height: 250px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid-item {
  /* display: grid; */
  background-color: black;
  border-color: white;
  margin: 1px;
  color: white;
}

.blank {
  background-color: transparent;
  color: black;
}
